:root {
  --ant-primary-color: #52c41a; // Cambia el color primario
  --ant-link-color: #1890ff; // Cambia el color de los enlaces
  --ant-success-color: #52c41a; // Color de éxito
  --ant-warning-color: #faad14; // Color de advertencias
  --ant-error-color: #f5222d; // Color de errores
}
