.employees-page {

  .employees-page-header {
    margin-bottom: 16;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .employees-page-content {
    margin-top: 10px;
  }

}
